html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(var(--sanzo-teal));
  background: var(--ds-ref-surface-0);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
